---
import CorevalueCard from "./CorevalueCard.astro";
import Button from "./Button.astro";

const { data, theme = "light" } = Astro.props;
const { title, subtitle, button, text } = data;
---

<section data-theme={theme}>
  <div class="flex">
    <div class="inner">
      <p class="p-bg bg">Growing with our Clients</p>
      <h3 class={theme}>{title}</h3>
      <p class={`gap ${theme}`}>
        {subtitle}
      </p>
    </div>
    <Button variant=" fat" theme={theme}>{button.text} </Button>
  </div>
  <!-- {data.map((corevalue) => <CorevalueCard {...corevalue} />)} -->
  <div class="content">
    {
      data.values.map((corevalue) => (
        // <CorevalueCard {...corevalue} variant={theme} />
        <CorevalueCard
          {...corevalue}
          variant={corevalue.variant || "default"}
          theme={theme}
        />
      ))
    }
  </div>
</section>
<style>
  section {
    padding: 6.25rem 0;
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
    > * {
      grid-column: content;
    }
  }
  .gap {
    margin-top: 0.6rem;
  }
  .bg {
    background: #ffcc4a;
  }
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    p {
      text-wrap: balance;
    }
  }
  .inner {
    max-width: 36.75rem;
  }
  .content {
    margin-top: 2.1rem;
    display: flex;
    justify-content: space-between;
  }

  [data-theme="light"] {
    background: var(--corevalue--light-bg);
    background: #f5f5f5;
  }

  [data-theme="dark"] {
    background: var(--corevalue--dark-bg);
    h3 {
      color: #fff;
    }
    /* ligenu rammer jeg alle per vil kun ramme det ene  */
    & > * {
      color: #fff;
    }
  }
  .light h3 {
    color: var(--sort-3);
  }
  .dark h3 {
    color: #fff;
  }
</style>
